<div class="filter-boxes pb-5">
  <div class="d-flex justify-content-between align-items-center px-3 py-2">
    <h3 class="filter-title">{{ filterOption.title }}</h3>
    <button
      *ngIf="filterOption.showAction"
      mat-icon-button
      [matTooltip]="filterOption.titleAction"
      matTooltipPosition="right"
      class="filter-action-btn"
      (click)="triggerExtraAction(filterOption)"
    >
      <div [ngClass]="filterOption.actionIconClass"></div>
    </button>
  </div>
  <div>
    <ul>
      <li
        class="
          px-3
          py-2
          d-flex
          justify-content-between
          align-items-center
          filter-child-item
        "
        *ngFor="let selectedItem of selectedItems"
      >
        <mat-checkbox
          [checked]="selectedItem.selected"
          color="primary"
          (change)="filterChange($event, selectedItem)"
          >{{ selectedItem.filterItem?.title }}</mat-checkbox
        >
        <div
          class="d-inline-flex justify-content-between align-items-center gap-1"
          *ngIf="selectedItem.filterItem?.showAction"
        >
          <button
            mat-icon-button
            [matTooltip]="selectedItem.filterItem?.actionTitle"
            matTooltipPosition="right"
            class="filter-child-item-action"
            (click)="triggerItemAction(selectedItem.filterItem)"
          >
            <span [ngClass]="selectedItem.filterItem?.actionIconClass"></span>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
