@import "../../../../../assets/styles/variables";
@import "../../../../../assets/styles/insurance/insurance";
@import "../../../../../assets/styles/insurance/insurance-form";

.rating-dialog {
  position: relative;
  padding: 32px 12px;
  width: 360px;
}

.close-btn {
  position: absolute;
  top: 14px;
  right: 16px;
  padding: 0;
  min-width: unset;
  min-height: unset;
  height: auto;
  line-height: 1;
}

.emotion-box {
  cursor: pointer;
  display: flex;
  width: 64px;
  height: 96px;
  padding: 8px;
  margin: 16px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: 0.3s;
  .emotion-description {
    text-align: center;
    height: 28px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: $grey-08;
  }
}

.choose {
  background: #f2fff5;
  border: 1px solid $monex-color-00;
  box-sizing: border-box;
  border-radius: 16px;
  .emotion-description {
    color: $monex-color-00;
  }
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: $monex-color-01;
  margin: 0 12px;
}

.description {
  margin: 8px 12px 0;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.1px;
  color: $grey-08;
}

.rating-tag-box {
  display: flex;
  justify-content: center;
  margin: -4px auto;
  .rating-tag-item {
    margin: 4px;
    height: 30px;
    border-radius: 40px;
    padding: 8px 12px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    background: #f7f7fc;
    border-radius: 40px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.3s;
  }
  .rating-tag-item.highlight {
    background: $monex-color-00;
    color: white;
  }
}

.review-form {
  margin: 16px 12px 20px;
}

.text-area {
  width: 100%;
  height: 120px;
  padding: 12px;
  border: 2px solid $grey-01;
  box-sizing: border-box;
  border-radius: 12px;
  .mat-form-field {
    width: 100%;
    height: 100%;
  }
}

.rating-btn {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 200px;
}

@media (max-width: 768px) {
  .rating-dialog {
    width: 80vw;
    max-height: 90vh;
  }

  .emotion {
    transform: scale(0.75);
  }

  .emotion-box {
    height: auto;
    padding: 0;
  }
}

@media (max-width: 360px) {
  .text-area {
    height: 70px;
    padding: 8px;
  }
}
