<div class="card op-card h-100">
  <div
    class="card-title d-flex align-items-center justify-content-between gap-1"
  >
    <h2 class="card-name" [innerHTML]="tableTitle"></h2>
    <!-- Display Column -->
    <button
      mat-flat-button
      type="button"
      (click)="panelOpenState = !panelOpenState"
    >
      <svg
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 16H14C14.5523 16 15 16.4477 15 17C15 17.5128 14.614 17.9355 14.1166 17.9933L14 18H10C9.44772 18 9 17.5523 9 17C9 16.4872 9.38604 16.0645 9.88338 16.0067L10 16H14H10ZM8 11H16C16.5523 11 17 11.4477 17 12C17 12.5128 16.614 12.9355 16.1166 12.9933L16 13H8C7.44772 13 7 12.5523 7 12C7 11.4872 7.38604 11.0645 7.88338 11.0067L8 11H16H8ZM5 6H19C19.5523 6 20 6.44772 20 7C20 7.51284 19.614 7.93551 19.1166 7.99327L19 8H5C4.44772 8 4 7.55228 4 7C4 6.48716 4.38604 6.06449 4.88338 6.00673L5 6H19H5Z"
          fill="#8E8E93"
        />
      </svg>
    </button>
    <mat-accordion class="filter-panel" (mouseleave)="panelOpenState = false">
      <mat-expansion-panel hideToggle [expanded]="panelOpenState">
        <div class="card op-card">
          <div
            class="
              card-title
              filter-description
              d-flex
              align-items-center
              gap-1
            "
          >
            {{ "common.field" | translate }}
            <button mat-button class="reset-btn">
              {{ "common.reset" | translate }}
            </button>
          </div>
          <div class="card-body filter-fields">
            <div *ngFor="let ele of selectedFields" class="field">
              <mat-checkbox
                class="checkbox"
                [checked]="ele.showed"
                (change)="ele.showed = !ele.showed"
                color="primary"
                >{{ ele?.title }}</mat-checkbox
              >
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="card-body p-2">
    <div class="overflow-auto">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        multiTemplateDataRows
        class="expanded-table"
        (matSortChange)="announceSortChange($event)"
        [matSortActive]="orderBy"
        [matSortDirection]="descending"
        matSortDisableClear
      >
        <ng-container
          matColumnDef="{{ column?.key }}"
          *ngFor="let column of displayedColumns"
        >
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            arrowPosition="before"
            sortActionDescription="Sort by field"
          >
            {{ column?.title }}
          </th>

          <td mat-cell *matCellDef="let element">
            <div *ngIf="column?.type === 'DATETIME'">
              {{ element[column?.key] | date: column?.format }}
            </div>

            <div *ngIf="column?.type === 'STATUS'">
              <app-pl-status-element
                [statusType]="column?.format"
                [statusValue]="element[column?.key]"
              >
              </app-pl-status-element>
            </div>

            <div *ngIf="!column?.type || column?.type === 'TEXT'">
              {{ element[column?.key] || "-" }}
            </div>
          </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [class.expanded-active]="element == expandedElement"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              class="op-element-detail w-100"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <ng-container
                class="w-100"
                *ngIf="element == expandedElement"
                [ngTemplateOutlet]="detailElementTemplate"
              ></ng-container>
            </div>
          </td>
        </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumnKeys"
          class="gap-2"
        ></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: displayedColumnKeys"
          class="op-element-row gap-2"
          [class.op-expanded-row]="expandedElement === element"
          (click)="
            expandedElement = expandedElement === element ? null : element
          "
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="op-detail-row"
        ></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" [attr.colspan]="displayedColumns.length">
            {{ "common.no_matching_records" | translate }}
          </td>
        </tr>
      </table>

      <mat-paginator
        [pageSize]="pageSize"
        [pageIndex]="pageIndex"
        [length]="totalItems"
        [pageSizeOptions]="pageSizeOptions"
        showFirstLastButtons
        (page)="onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</div>
