<div class="user-role-tab">
  <div class="row">
    <div class="user-role d-flex align-items-center">
      <mat-select class="select" disableOptionCentering="true" panelClass="role-select">
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{role.title}}
          <div class="action d-flex align-items-center gap-2">
            <span (click)="openUpdateDialog(role.id)" class="sprite-group-7-edit-gray"></span>
            <span class="sprite-group-7-copy"></span>
          </div>
        </mat-option>
        <mat-option class="add-role">
          <span class="sprite-group-7-add-blue"></span>
          Tạo vai trò mới
        </mat-option>
      </mat-select>

      <div class="icon d-flex align-items-center gap-2">
        <span class="sprite-group-7-user-role"></span>
        <p>Vai trò</p>
      </div>
    </div>
  </div>

  <div class="row permission-tree">
    <div class="grid-table">
      <div class="table">
        <div class="table-title">Hệ thống</div>
        <div class="table-content">
          <app-permission-tree [TREE_DATA]="SYSTEM_DATA"></app-permission-tree>
        </div>
      </div>
      <div class="table">
        <div class="table-title">Giao dịch</div>
        <div class="table-content">
          <app-permission-tree [TREE_DATA]="TRANSACTION_DATA"></app-permission-tree>
        </div>
      </div>
      <div class="table">
        <div class="table-title">Khách hàng</div>
        <div class="table-content">
          <app-permission-tree [TREE_DATA]="CUSTOMER_DATA"></app-permission-tree>
        </div>
      </div>
    </div>
  </div>

  <div class="action text-end">
    <button color="accent" mat-flat-button>
      <span class="sprite-group-5-pen-white"></span>
      {{ "customer.individual_info.update" | translate }}
    </button>
  </div>
</div>

