<div class="insurance-container">
  <section>
    <div class="top-insurance d-flex align-items-center">
      <div class="content">
        <div class="title-content">Sản phẩm</div>
        <h1>Bảo hiểm</h1>
        <p>
          Monex kết nối các giải pháp thông minh và tối ưu nhất, góp phần bảo vệ
          và nâng cao trải nghiệm sống của bạn
        </p>
        <a>
          <span class="link">Các sản phẩm bảo hiểm
            <img src="../../../../assets/img/icon/icon-right-arrow.svg" alt="next" /></span>
        </a>
      </div>

      <div class="big-icon">
        <img src="../../../../assets/img/icon/icon-big-shield.svg" alt="Insurance" />
      </div>
    </div>
  </section>

  <section>
    <div class="main-content">
      <p class="text-center description">
        Vui lòng cho Monex biết thêm về bạn, chúng tôi sẽ gợi ý sản phẩm bảo hiểm
        phù hợp nhất
      </p>
      <form [formGroup]="infoForm" fxLayout="column" fxLayoutAlign="center none">
        <mat-form-field appearance="outline">
          <mat-label>Độ tuổi</mat-label>
          <mat-select name="age" required formControlName="age">
            <mat-option *ngFor="let ageOtion of ageOptions" [value]="ageOtion">
              {{ ageOtion }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="d-flex flex-column">
          <label #genderLabel class="radio-label">Giới Tính <span class="rq-highlight">*</span></label>
          <mat-radio-group class="radio-group" aria-labelledby="genderLabel" formControlName="gender" [(ngModel)]="genderStartValue" required>
            <mat-radio-button class="radio-button" color="primary" *ngFor="let genderOption of genderOptions"
              [value]="genderOption">
              {{genderOption}}
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <mat-form-field appearance="outline">
          <mat-label>Tính chất công việc</mat-label>
          <mat-select name="job" formControlName="job" required>
            <h3 fxLayout="row" fxLayoutAlign="center center">Tính chất công việc</h3>
            <div *ngFor="let jobOption of jobOptions">
              <mat-option [value]="jobOption">
                {{ jobOption }}
              </mat-option>
              <mat-divider></mat-divider>
            </div>
          </mat-select>
        </mat-form-field>

          <div class="d-flex flex-column">
            <label #vehicleLabel class="radio-label">Phương tiện thường dùng <span class="rq-highlight">*</span></label>
            <mat-radio-group class="radio-group" color="primary"  aria-labelledby="vehicleLabel" formControlName="vehicle" [(ngModel)]="vehicleStartValue" required>
              <mat-radio-button class="radio-button" *ngFor="let vehicleOption of vehicleOptions"
                [value]="vehicleOption">
                {{vehicleOption}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field appearance="outline" color="primary" >
            <mat-label>Điều kiện nhà ở</mat-label>
            <mat-select name="houseCondition" formControlName="houseCondition" required>
              <h3 fxLayout="row" fxLayoutAlign="center center">Điều kiện nhà ở</h3>
              <div *ngFor="let houseConditionOption of houseConditionOptions">
                <mat-option [value]="houseConditionOption">
                  {{ houseConditionOption }}
                </mat-option>
                <mat-divider></mat-divider>
              </div>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" color="primary" >
            <mat-label>Tình trạng người phụ thuộc</mat-label>
            <mat-select name="dependentPerson" formControlName="dependentPerson" required>
              <h3 fxLayout="row" fxLayoutAlign="center center">Tình trạng người phụ thuộc</h3>
              <div *ngFor="let dependentPersonOption of dependentPersonOptions">
                <mat-option [value]="dependentPersonOption">
                  {{ dependentPersonOption }}
                </mat-option>
                <mat-divider></mat-divider>
              </div>
            </mat-select>
          </mat-form-field>
      </form>
    </div>
  </section>

    <div class="sticky-bottom row align-items-center">
      <button mat-raised-button type="submit" class="ui-button" color="primary" [disabled]="!infoForm.valid" (click)="onInfoSubmit()">
        Xem sản phẩm phù hợp
      </button>
    </div>
  </div>
