@import "../../../../assets/styles/variables";
section {
  font-size: 14px;
  line-height: 18px;
  color: $grey-10;
}
.top-insurance {
  background-color: #f2f9ff;
  font-size: 12px;
  line-height: 16px;
  padding: 16px 0;
  height: 200px;
  overflow: hidden;
  .content {
    max-height: 100%;
    min-width: 160px;
    padding: 0 0 0 24px;
    margin-right: -12px;
    .title-content {
      color: $system-color-blue;
      margin-bottom: 4px;
      text-transform: uppercase;
    }
    h1,
    p {
      color: $monex-color-01;
      padding: 0;
      margin: 0;
    }
    h1 {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 8px;
    }
    p {
      margin-bottom: 16px;
    }
    .link {
      color: $grey-06;
      img {
        margin-left: 5.5px;
      }
    }
  }

  .big-icon {
    min-width: 180px;
    img {
      position: absolute;
      top: 95px;
      right: 0;
    }
  }
}

.main-content, .sticky-bottom {
  max-width: 360px;
  margin: auto;
  padding: 16px;
}

.main-content {
  margin-top: 8px;
  margin-bottom: -5px;
}

.sticky-bottom {
  box-shadow: inset 0px 1px 0px #F2F2F7;
  position: sticky;
  bottom: 0;
  background-color: white;
}

.not-select {
  color: $grey-06;
}

::ng-deep.mat-placeholder-required.mat-form-field-required-marker {
  color:$red-orange
}

.mat-form-field {
  width: 100%;
  margin-bottom: 3px;
}

.radio-group {
  margin: 14px 0 28px;
}

.radio-button {
  margin: 0 5px;
}

::ng-deep .mat-radio-inner-circle {
  background-color:  $monex-color-00 !important;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: $monex-color-00 !important;
}

::ng-deep.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick, ::ng-deep.mat-form-field.mat-focused .mat-form-field-label {
  color: $monex-color-00 !important;
}
