<header>
  <div class="container-fluid">
    <header>
      <div id="insurance-header">
        <div class="header-container">
          <div class="container no-padding  justify-content-center">
            <div
              id="insurance-header-content"
              class="d-flex justify-content-between align-items-center"
            >
              <div>
                <a><img [src]="logoSrc" alt="logo-monex"/></a>
              </div>
              <ng-template #Login>
                <button mat-flat-button class="ui-button button-login">
                  Đăng nhập
                </button>
              </ng-template>
              <div *ngIf="isLogged; else Login">
                <button id="profile-btn" mat-button [matMenuTriggerFor]="menu" class="no-padding">
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                    <div class="avatar">Q</div>
                    <img src="assets/img/icon-down.svg" alt="show"/>
                  </div>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>Profile</button>
                  <button mat-menu-item>Logout</button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="insurance-navigation-bar">
        <div class="container no-padding insurance-navigation-bar-container">
          <!-- Top navigation -->
          <div id="insurance-top-navigation">
            <button mat-icon-button class="no-padding insurance-top-nav-btn">
              <img src="assets/img/icon-back.svg" alt="left"/>
            </button>
            <h2>{{ titleNavigation }}</h2>
            <button mat-icon-button class="no-padding insurance-top-nav-btn">
              <img src="assets/img/icon-back.svg" alt="right"/>
            </button>

            <!-- Stepper progress bar-->
          </div>
        </div>
      </div>

    </header>
  </div>

</header>
