<header>
  <div class="container-fluid">
    <header>
      <!-- Top  Header  -->
      <div id="monex-op-header">
        <div class="header-container">
          <div class="container justify-content-center">
            <div
              id="monex-op-header-content"
              class="d-flex justify-content-between align-items-center"
            >
              <a
                href="javascript:void(0)"
                id="logo-monex-container"
                class="d-flex align-items-center"
              >
                <img [src]="logoSrc" alt="logo-monex" id="logo-monex" />
                <span class="divider-monex-logo" *ngIf="!responsive">|</span>
                <span id="title-monex-op" *ngIf="!responsive">{{
                  "header.op" | translate
                }}</span>
              </a>

              <div class="d-flex gap-3" *ngIf="showProfileBtn">
                <section *ngIf="!responsive">
                  <button class="header-nav-btn gap-1">
                    <span>{{ "header.notification" | translate }}</span>
                    <div class="sprite-group-5-notification-on-white"></div>
                  </button>
                </section>

                <section *ngIf="!responsive">
                  <button class="header-nav-btn gap-1">
                    <span>{{ "header.setting" | translate }}</span>
                    <div class="sprite-group-5-setting-white"></div>
                  </button>
                </section>

                <section>
                  <button
                    id="profile-btn"
                    [matMenuTriggerFor]="profileMenu"
                    #profileMenuTrigger="matMenuTrigger"
                    (click)="profileMenuTrigger.openMenu()"
                    class="no-padding"
                  >
                    <div
                      class="
                        d-flex
                        flex-row
                        text-center
                        justify-content-between
                        align-items-center
                        gap-2
                      "
                    >
                      <div>
                        <p id="manager-name">{{ fullName }}</p>
                        <p id="manager-role" class="d-flex gap-1">
                          <span class="sprite-group-5-personal-roll"></span>
                          <span>{{ roleName }}</span>
                        </p>
                      </div>
                      <div class="avatar">{{ shortName }}</div>
                    </div>
                  </button>

                  <mat-menu #profileMenu="matMenu">
                    <span (mouseleave)="profileMenuTrigger.closeMenu()">
                      <button mat-menu-item class="gap-1" *ngIf="responsive">
                        <div class="d-flex gap-1 align-items-center">
                          <span>{{ "header.notification" | translate }}</span>
                          <div class="sprite-group-5-notification-on"></div>
                        </div>
                      </button>

                      <button mat-menu-item class="gap-1" *ngIf="responsive">
                        <div class="d-flex gap-1 align-items-center">
                          <span>{{ "header.setting" | translate }}</span>
                          <div class="sprite-group-5-setting"></div>
                        </div>
                      </button>

                      <button mat-menu-item (click)="logout()">
                        {{ "auth.logout" | translate }}
                      </button>
                    </span>
                  </mat-menu>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Top nav bar -->
      <div id="navigation-bar" *ngIf="showProfileBtn">
        <div class="container no-padding">
          <!-- Menu Mobile  -->
          <mat-toolbar
            id="nav-toolbar-mobile"
            *ngIf="responsive; else desktopMenu"
          >
            <span class="fill-remaining-space">
              <button
                mat-icon-button
                [matMenuTriggerFor]="menuMobile"
                #menuTrigger="matMenuTrigger"
                (click)="menuTrigger.openMenu()"
              >
                <mat-icon>menu</mat-icon>
              </button>
              <mat-menu #menuMobile="matMenu" [overlapTrigger]="false">
                <span (mouseleave)="menuTrigger.closeMenu()">
                  <button
                    mat-menu-item
                    *ngFor="let menuItem of menuItems"
                    class="mobile-menu-item gap-2 d-flex align-items-center"
                    [ngClass]="{
                      active: selectedNavItem === menuItem.navItem
                    }"
                    [routerLink]="menuItem.path"
                  >
                    <span [ngClass]="menuItem.iconClass"></span>
                    <span>{{ menuItem.title }}</span>
                  </button>
                </span>
              </mat-menu>
            </span>
            <span class="fill-remaining-space"></span>
          </mat-toolbar>

          <!-- Menu Desktop -->
          <ng-template #desktopMenu>
            <div id="op-top-navigation" class="justify-content-between">
              <ul class="nav m-auto gap-3">
                <li class="nav-item" *ngFor="let menuItem of menuItems">
                  <a
                    [routerLink]="menuItem.path"
                    class="
                      nav-link
                      d-inline-flex
                      align-items-center
                      gap-1
                      op-nav-link
                    "
                    [ngClass]="{
                      active: selectedNavItem === menuItem.navItem
                    }"
                    [matMenuTriggerFor]="menuDesktop"
                    #subMenuTrigger="matMenuTrigger"
                    (mousemove)="
                      menuItem.subItems && menuItem.subItems.length > 0
                        ? subMenuTrigger.openMenu()
                        : subMenuTrigger.closeMenu()
                    "
                  >
                    <span [ngClass]="menuItem.iconClass"></span>
                    <span>{{ menuItem.title }}</span>
                  </a>

                  <!-- Submenu-->
                  <mat-menu
                    #menuDesktop="matMenu"
                    [overlapTrigger]="false"
                    class="sub-menu-desktop"
                  >
                    <span (mouseleave)="subMenuTrigger.closeMenu()">
                      <button
                        mat-menu-item
                        *ngFor="let subItem of menuItem.subItems"
                        class="
                          sub-menu-desktop-item
                          gap-2
                          d-flex
                          align-items-center
                        "
                        [routerLink]="subItem.path"
                      >
                        <span [ngClass]="subItem.iconClass"></span>
                        <span>{{ subItem.title }}</span>
                      </button>
                    </span>
                  </mat-menu>
                  <!--  End submenu -->
                </li>
              </ul>
            </div>
          </ng-template>
        </div>
      </div>
    </header>
  </div>
</header>
