@import "../../../../styles/op/pl-layout";
@import "../../../../styles/op/pl-auth";
@import "../../../../styles/variables";
.pl-countdown-time {
  margin: 0;
  padding-left: 4px;
  color: $white;
  font-family: $sfPro;
  font-weight: 400;
}
