<div *ngIf="type === 'DATETIME'">
  {{ value | date: format }}
</div>

<span *ngIf="type === 'CURRENCY'">
  {{ value | formatPrice: null }}
</span>

<span *ngIf="type === 'PERCENT'">
  <ng-container *ngIf="value; else zero">
    {{ value | percent }}
  </ng-container>
  <ng-template #zero>
    {{ 0 | percent }}
  </ng-template>
</span>

<div *ngIf="type === 'STATUS'">
  <app-pl-status-element
    [statusType]="format"
    [statusValue]="value"
    [externalValue]="externalValue"
    [isBadLoan]="isBadLoan"
  >
  </app-pl-status-element>
</div>

<div *ngIf="!type || type === 'TEXT'" class="op-table-cell-data">
  {{ value || "-" }}
</div>
