<div class="container-fluid">
  <div class="row">
    <!-- Logo -->
    <article class="col-12 mb-2">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="pb-2 pt-2 ps-3 pe-3">
            <mat-panel-title>{{
              "merchant.merchant_image.logo" | translate
            }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-panel-content">
            <div class="row">
              <!-- Logo  -->
              <article class="col-12">
                <app-upload-document-area
                  [id]="'logo'"
                  name="logo"
                  [classes]="'p-3'"
                  [title]="'merchant.merchant_image.logo' | translate"
                  [imgSrc]="logoSrc"
                  [hiddenDeleteBtn]="hiddenDeleteBtn"
                  [hiddenUploadBtn]="hiddenUploadBtn"
                  (onChangeDocument)="
                    onChangeDocument(
                      $event,
                      merchantInfo?.logo,
                      documentTypes.LOGO
                    )
                  "
                ></app-upload-document-area>
              </article>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </article>
  </div>

  <div class="row">
    <!-- Salary Document -->
    <article    >
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="pb-2 pt-2 ps-3 pe-3">
            <mat-panel-title>{{
              "merchant.merchant_image.images" | translate
            }}</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="expansion-panel-content">
            <div class="image-grid">
              <!-- Salary 1  -->
              <article *ngFor="let imageSrc of imagesSrc; let i = index">
                <app-upload-document-area
                  [id]="'image' + i"
                  name="image{{ i }}"
                  [classes]="'m-3'"
                  [title]="
                    'merchant.merchant_image.image' | translate: { i: i + 1 }
                  "
                  [imgSrc]="imageSrc"
                  [hiddenDeleteBtn]="hiddenDeleteBtn"
                  [hiddenUpdateBtn]="true"
                  [hiddenUploadBtn]="hiddenUploadBtn"
                  (onChangeDocument)="
                    onChangeDocument($event, imageSrc, documentTypes.IMAGES, i)
                  "
                ></app-upload-document-area>
              </article>
              <article *ngIf="imagesSrc.length < 5">
                <div class="text-center">
                  <button
                    type="button"
                    (click)="addAnswer()"
                    color="primary"
                    mat-icon-button
                  >
                    <div class="sprite-group-1-add"></div>
                  </button>
                </div>
              </article>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </article>
  </div>
</div>
