<app-base-management-layout
  [pageTitle]="pageTitle"
  [detailElementTemplate]="detailElementTemplate"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  [allColumns]="allColumns"
  [totalItems]="totalItems"
  [tableTitle]="tableTitle"
  [pageLength]="pageLength"
  [dataSource]="dataSource"
  [orderBy]="this.filterForm.controls.orderBy?.value"
  [descending]="this.filterForm.controls.descending?.value"
  [breadcrumbOptions]="breadcrumbOptions"
  (onPageChanged)="onPageChanged($event)"
  (onSortChange)="onSortChanged($event)"
  (onExpandElementChange)="onExpandElementChange($event)"
>
</app-base-management-layout>

<ng-template #detailElementTemplate>
  <app-customer-detail-element
    class="w-100"
    [customerId]="expandedElementId"
  ></app-customer-detail-element>
</ng-template>
