<app-base-management-layout
  [detailElementTemplate]="detailElementTemplate"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  [allColumns]="allColumns"
  [totalItems]="totalItems"
  [tableTitle]="tableTitle"
  [pageLength]="pageLength"
  [dataSource]="dataSource"
  [breadcrumbOptions]="breadcrumbOptions"
>
</app-base-management-layout>

<ng-template #detailElementTemplate>
  <app-customer-detail-element class="w-100"></app-customer-detail-element>
</ng-template>
