<div class="container-fluid">
  <div class="card op-card">
    <button class="close-btn" mat-dialog-close mat-icon-button tabindex="-1">
      <svg
        fill="none"
        height="24"
        viewBox="0 0 24 24"
        width="24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4.2097 4.3871L4.29289 4.29289C4.65338 3.93241 5.22061 3.90468 5.6129 4.2097L5.70711 4.29289L12 10.585L18.2929 4.29289C18.6834 3.90237 19.3166 3.90237 19.7071 4.29289C20.0976 4.68342 20.0976 5.31658 19.7071 5.70711L13.415 12L19.7071 18.2929C20.0676 18.6534 20.0953 19.2206 19.7903 19.6129L19.7071 19.7071C19.3466 20.0676 18.7794 20.0953 18.3871 19.7903L18.2929 19.7071L12 13.415L5.70711 19.7071C5.31658 20.0976 4.68342 20.0976 4.29289 19.7071C3.90237 19.3166 3.90237 18.6834 4.29289 18.2929L10.585 12L4.29289 5.70711C3.93241 5.34662 3.90468 4.77939 4.2097 4.3871L4.29289 4.29289L4.2097 4.3871Z"
          fill="#8E8E93"
        />
      </svg>
    </button>
    <div class="card-title title">
      {{ "customer.individual_info.update_company_info" | translate }}
    </div>
    <div class="card-body">
      <div class="row">
        <!--  Info  -->
        <section class="col-12">
          <form [formGroup]="companyInfoForm">
            <div class="row">
              <!-- Left Individual Info -->
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 pr-2">
                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "customer.company_info.company_name" | translate
                      }}</mat-label>
                    <mat-select formControlName="companyId">
                      <mat-option *ngFor="let companyOption of companyOptions"
                                  [value]="companyOption.id"
                      >
                        <div class="d-flex align-items-center">
                          <img [src]="companyOption.avatar" alt="" class="company-avatar">
                          {{
                          companyOption.name + " (" + companyOption.code + ")"
                          }}
                        </div>
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "customer.company_info.employee_code" | translate
                      }}</mat-label>
                    <input
                      [placeholder]="
                        'customer.company_info.employee_code' | translate
                      "
                      formControlName="employeeCode"
                      matInput
                    />
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "customer.company_info.full_name" | translate
                      }}</mat-label>
                    <input
                      [placeholder]="
                        'customer.company_info.full_name' | translate
                      "
                      formControlName="firstName"
                      matInput
                    />
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "customer.company_info.first_name" | translate
                      }}</mat-label>
                    <input
                      [placeholder]="
                        'customer.company_info.first_name' | translate
                      "
                      formControlName="tngFirstName"
                      matInput
                    />
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "customer.company_info.office_code" | translate
                      }}</mat-label>
                    <input
                      [placeholder]="
                        'customer.company_info.office_code' | translate
                      "
                      formControlName="officeCode"
                      matInput
                    />
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "customer.company_info.office_name" | translate
                      }}</mat-label>
                    <input
                      [placeholder]="
                        'customer.company_info.office_name' | translate
                      "
                      formControlName="officeName"
                      matInput
                    />
                  </mat-form-field>
                </div>
              </div>

              <!-- Right Individual Info -->
              <div class="col-12 col-sm-12 col-md-6 col-lg-6 pr-2">
                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "customer.company_info.annual_income" | translate
                      }}</mat-label>
                    <input
                      [placeholder]="
                        'customer.company_info.annual_income' | translate
                      "
                      formControlName="annualIncome"
                      matInput
                    />
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "customer.company_info.working_days" | translate
                      }}</mat-label>
                    <input
                      [placeholder]="
                        'customer.company_info.working_days' | translate
                      "
                      formControlName="workingDay"
                      matInput
                    />
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "customer.company_info.account_number" | translate
                      }}</mat-label>
                    <input
                      [placeholder]="
                        'customer.company_info.account_number' | translate
                      "
                      formControlName="accountNumber"
                      matInput
                    />
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "customer.individual_info.bank_name" | translate
                      }}</mat-label>
                    <mat-select
                      (selectionChange)="changeBank($event)"
                      formControlName="bankName"
                    >
                      <mat-option
                        *ngFor="let bankNameOption of bankOptions"
                        [value]="bankNameOption.bankName"
                      >
                        {{
                        bankNameOption.bankName +
                        " (" +
                        bankNameOption.bankCode +
                        ")"
                        }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div>
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{
                      "customer.company_info.bank_code" | translate
                      }}</mat-label>
                    <input
                      [placeholder]="
                        'customer.company_info.bank_code' | translate
                      "
                      [value]="companyInfoForm.controls.bankCode.value"
                      disabled
                      matInput
                      readonly
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </form>
        </section>
      </div>
      <!--  Actions -->

      <div class="row mt-3">
        <div class="col-12 d-flex gap-2 justify-content-end">
          <button
            autofocus
            cdkFocusInitial
            color="warn"
            mat-dialog-close
            mat-flat-button
          >
            {{ "customer.individual_info.cancel_update" | translate }}
          </button>
          <button (click)="submitForm()" color="accent" mat-flat-button>
            <span class="sprite-group-5-save-white"></span>
            {{ "customer.individual_info.save_update" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
