<form id="insurance-confirm-information-form" class="form-container" [formGroup]="confirmInformationForm"
      #insuranceConfirmInformationFormWrapper>
  <div class="row responsive-form-content">
    <div class="col-md-12 insurance-info-title">
      <h2>Thông tin ghi trên đăng ký xe</h2>
    </div>

    <div class="col-md-12">
      <mat-form-field appearance="outline" floatLabel="never" class="w-100">
        <mat-label>Tên chủ xe</mat-label>
        <input matInput formControlName="vehicleOwnerName" placeholder="Tên chủ xe" required/>
        <mat-error *ngIf="!confirmInformationForm.controls['vehicleOwnerName'].valid">
          Tên chủ xe không được để trống
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field appearance="outline" floatLabel="never" class="w-100">
        <mat-label>Tỉnh/Thành phố</mat-label>
        <mat-select required formControlName="vehicleProvince">
          <mat-option *ngFor="let provinceOption of provinceOptions" [value]="provinceOption.id">
            {{ provinceOption.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!confirmInformationForm.controls['vehicleProvince'].valid">
          Tỉnh/Thành phố không được để trống
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field appearance="outline" floatLabel="never" class="w-100">
        <mat-label>Địa chỉ</mat-label>
        <input matInput formControlName="vehicleAddress" placeholder="Địa chỉ" required/>
        <mat-error *ngIf="!confirmInformationForm.controls['vehicleAddress'].valid">
          Địa chỉ không được để trống
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field appearance="outline" floatLabel="never" class="w-100">
        <mat-label>Thời hạn bắt đầu</mat-label>
        <input matInput formControlName="vehicleStartTime" placeholder="Thời hạn bắt đầu" required/>
        <mat-error *ngIf="!confirmInformationForm.controls['vehicleStartTime'].valid">
          Thời hạn bắt đầu không được để trống
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field appearance="outline" floatLabel="never" class="w-100">
        <mat-label>Biển kiểm soát</mat-label>
        <input matInput formControlName="vehicleNumber" placeholder="Biển kiểm soát" required/>
        <mat-error *ngIf="!confirmInformationForm.controls['vehicleNumber'].valid">
          Biển kiểm soát không được để trống
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field appearance="outline" floatLabel="never" class="w-100">
        <mat-label>Số máy</mat-label>
        <input matInput formControlName="machineNumber" placeholder="Số máy"/>
        <mat-error *ngIf="!confirmInformationForm.controls['machineNumber'].valid">
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field appearance="outline" floatLabel="never" class="w-100">
        <mat-label>Số khung</mat-label>
        <input matInput formControlName="frameNumber" placeholder="Số khung"/>
        <mat-error *ngIf="!confirmInformationForm.controls['frameNumber'].valid">
        </mat-error>
      </mat-form-field>
    </div>


    <div class="col-md-12 insurance-info-title">
      <h2>Địa chỉ nhận chứng nhận bảo hiểm</h2>
    </div>


    <div class="col-md-12">
      <mat-form-field appearance="outline" floatLabel="never" class="w-100">
        <mat-label>Tên người nhận</mat-label>
        <input matInput formControlName="receiverName" placeholder="Tên người nhận" required/>
        <mat-error *ngIf="!confirmInformationForm.controls['receiverName'].valid">
          Tên người nhận không được để trống
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field appearance="outline" floatLabel="never" class="w-100">
        <mat-label>Tỉnh/Thành phố</mat-label>
        <mat-select required formControlName="receiverProvince">
          <mat-option *ngFor="let provinceOption of provinceOptions" [value]="provinceOption.id">
            {{ provinceOption.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!confirmInformationForm.controls['receiverProvince'].valid">
          Tỉnh/Thành phố không được để trống
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field appearance="outline" floatLabel="never" class="w-100">
        <mat-label>Địa chỉ</mat-label>
        <input matInput formControlName="receiverAddress" placeholder="Địa chỉ" required/>
        <mat-error *ngIf="!confirmInformationForm.controls['receiverAddress'].valid">
          Địa chỉ không được để trống
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field appearance="outline" floatLabel="never" class="w-100">
        <mat-label>Email</mat-label>
        <input matInput formControlName="receiverEmail" placeholder="Email" required/>
        <mat-error *ngIf="!confirmInformationForm.controls['receiverEmail'].valid">
          Email không được để trống
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-12">
      <mat-form-field appearance="outline" floatLabel="never" class="w-100">
        <mat-label>Số điện thoại</mat-label>
        <input matInput formControlName="receiverPhoneNumber" placeholder="Số điện thoại" required/>
        <mat-error *ngIf="!confirmInformationForm.controls['receiverPhoneNumber'].valid">
          Số điện thoại không được để trống
        </mat-error>
      </mat-form-field>
    </div>

  </div>

  <div class="col-md-12 responsive-form-actions">
    <div id="confirm-info-btn-container">
      <mat-checkbox id="insurance-checkbox">
        <p class="insurance-checkbox-text align-items-center">
          Tôi đồng ý với các <a class="link-inline-green" href="javascript:void(0)">Điều khoản, Điều kiện và Quy tắc Bảo
          hiểm</a>
        </p>
      </mat-checkbox>
      <button id="confirm-information-btn" (click)="onSubmit()" mat-raised-button color="primary"
              class="w-100 insurance-btn btn-primary">Thanh toán ngay
      </button>
    </div>
  </div>
</form>
