<div class="filter-form-container py-3">
  <div class="filter-boxes pb-5">
    <div class="d-flex justify-content-between align-items-center px-3 py-2">
      <h3 class="filter-title">Thời gian</h3>
      <!--      <button-->
      <!--        mat-icon-button-->
      <!--        [matTooltip]="'Thêm mới sản phẩm'"-->
      <!--        matTooltipPosition="right"-->
      <!--      >-->
      <!--        <div class="sprite-group-5-add-blue"></div>-->
      <!--      </button>-->
    </div>
    <div>
      <ul>
        <li
          class="
            px-3
            py-2
            d-flex
            justify-content-between
            align-items-center
            filter-child-item
          "
        >
          <div>
            <mat-radio-button value="1">Toàn thời gian</mat-radio-button>
          </div>
          <div
            class="
              d-inline-flex
              justify-content-between
              align-items-center
              filter-child-item
              gap-1
            "
          >
            <!--            <span class="filter-status-count">10</span>-->
            <span class="sprite-group-5-chevron-right-blue"></span>
          </div>
        </li>
        <li
          class="
            px-3
            py-2
            d-flex
            justify-content-between
            align-items-center
            filter-child-item
          "
        >
          <div>
            <mat-radio-button value="2">Chọn khoảng thời gian</mat-radio-button>
          </div>
          <div
            class="
              d-inline-flex
              justify-content-between
              align-items-center
              filter-child-item
              gap-1
            "
          >
            <!--            <span class="filter-status-count">10</span>-->
            <span class="sprite-group-5-chevron-right-grey"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="filter-boxes pb-5">
    <div class="d-flex justify-content-between align-items-center px-3 py-2">
      <h3 class="filter-title">Nhà cung cấp</h3>
      <button
        mat-icon-button
        [matTooltip]="'Thêm mới sản phẩm'"
        matTooltipPosition="right"
        class="filter-action-add"
      >
        <div class="sprite-group-5-add-blue"></div>
      </button>
    </div>
    <div>
      <ul>
        <li
          class="
            px-3
            py-2
            d-flex
            justify-content-between
            align-items-center
            filter-child-item
          "
        >
          <div>
            <mat-checkbox value="1">Nhóm nhà cung cấp 1</mat-checkbox>
          </div>
          <div
            class="
              d-inline-flex
              justify-content-between
              align-items-center
              filter-child-item
              gap-1
            "
          >
            <button
              mat-icon-button
              [matTooltip]="'Sửa thông tin'"
              matTooltipPosition="right"
            >
              <span class="sprite-group-5-edit-blue"></span>
            </button>
          </div>
        </li>
        <li
          class="
            px-3
            py-2
            d-flex
            justify-content-between
            align-items-center
            filter-child-item
          "
        >
          <div>
            <mat-checkbox value="1">Nhóm nhà cung cấp 2</mat-checkbox>
          </div>
          <div
            class="
              d-inline-flex
              justify-content-between
              align-items-center
              filter-child-item
              gap-1
            "
          >
            <button
              mat-icon-button
              [matTooltip]="'Sửa thông tin'"
              matTooltipPosition="right"
            >
              <span class="sprite-group-5-edit-blue"></span>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="filter-boxes pb-5">
    <div class="d-flex justify-content-between align-items-center px-3 py-2">
      <h3 class="filter-title">Trạng thái thanh toán</h3>
      <!--      <button-->
      <!--        mat-icon-button-->
      <!--        [matTooltip]="'Thêm mới sản phẩm'"-->
      <!--        matTooltipPosition="right"-->
      <!--      >-->
      <!--        <div class="sprite-group-5-add-blue"></div>-->
      <!--      </button>-->
    </div>
    <div>
      <ul>
        <li
          class="
            px-3
            py-2
            d-flex
            justify-content-between
            align-items-center
            filter-child-item
          "
        >
          <div>
            <p>Tất toán</p>
          </div>
          <div
            class="
              d-inline-flex
              justify-content-between
              align-items-center
              filter-child-item
              gap-1
            "
          >
            <span class="filter-status-count">10</span>
            <span class="sprite-group-5-chevron-right-blue"></span>
          </div>
        </li>
        <li
          class="
            px-3
            py-2
            d-flex
            justify-content-between
            align-items-center
            filter-child-item
          "
        >
          <div>
            <p>Hoàn thành</p>
          </div>
          <div
            class="
              d-inline-flex
              justify-content-between
              align-items-center
              filter-child-item
              gap-1
            "
          >
            <span class="filter-status-count">10</span>
            <span class="sprite-group-5-chevron-right-grey"></span>
          </div>
        </li>
        <li
          class="
            px-3
            py-2
            d-flex
            justify-content-between
            align-items-center
            filter-child-item
          "
        >
          <div>
            <p>Đã hủy</p>
          </div>
          <div
            class="
              d-inline-flex
              justify-content-between
              align-items-center
              filter-child-item
              gap-1
            "
          >
            <span class="filter-status-count">10</span>
            <span class="sprite-group-5-chevron-right-grey"></span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
