<div class="filter-form-container py-3">
  <!-- Mobile view -->
  <mat-accordion *ngIf="responsive; else desktopView">
    <mat-expansion-panel class="shadow-none rounded-0">
      <mat-expansion-panel-header
        id="expand-panel-filter"
        class="pb-2 pt-2 ps-3 pe-3"
      >
        <mat-panel-title>{{
          "filter.filter_expand_title" | translate
        }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="expansion-panel-content">
        <ng-container *ngFor="let filterOption of filterOptions">
          <app-datetime-filter
            *ngIf="filterOption.type === 'DATETIME'"
            [filterOption]="filterOption"
            (completeFilter)="completeFilter($event)"
          ></app-datetime-filter>

          <app-select-filter
            *ngIf="filterOption.type === 'SELECT'"
            [filterOption]="filterOption"
            (completeFilter)="completeFilter($event)"
          ></app-select-filter>

          <app-multiple-choice-filter
            *ngIf="filterOption.type === 'MULTIPLE_CHOICE'"
            [filterOption]="filterOption"
            (completeFilter)="completeFilter($event)"
            (clickActionBtn)="clickActionBtn($event)"
          ></app-multiple-choice-filter>
        </ng-container>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <!-- End: Mobile view -->

  <!-- Desktop view -->
  <ng-template #desktopView>
    <ng-container *ngFor="let filterOption of filterOptions">
      <app-datetime-filter
        *ngIf="filterOption.type === 'DATETIME'"
        [filterOption]="filterOption"
        (completeFilter)="completeFilter($event)"
      ></app-datetime-filter>

      <app-select-filter
        *ngIf="filterOption.type === 'SELECT'"
        [filterOption]="filterOption"
        (completeFilter)="completeFilter($event)"
      ></app-select-filter>

      <app-multiple-choice-filter
        *ngIf="filterOption.type === 'MULTIPLE_CHOICE'"
        [filterOption]="filterOption"
        (completeFilter)="completeFilter($event)"
        (clickActionBtn)="clickActionBtn($event)"
      ></app-multiple-choice-filter>
    </ng-container>
  </ng-template>

  <!-- END: Desktop view -->
</div>
