<div class="filter-form-container py-3">
  <ng-container *ngFor="let filterOption of filterOptions">
    <app-datetime-filter
      *ngIf="filterOption.type === 'DATETIME'"
      [filterOption]="filterOption"
      (completeFilter)="completeFilter($event)"
    ></app-datetime-filter>

    <app-select-filter
      *ngIf="filterOption.type === 'SELECT'"
      [filterOption]="filterOption"
      (completeFilter)="completeFilter($event)"
    ></app-select-filter>

    <app-multiple-choice-filter
      *ngIf="filterOption.type === 'MULTIPLE_CHOICE'"
      [filterOption]="filterOption"
      (completeFilter)="completeFilter($event)"
      (clickActionBtn)="clickActionBtn($event)"
    ></app-multiple-choice-filter>
  </ng-container>
</div>
