@import "src/assets/styles/payday-loan/pl-layout";
@import "src/assets/styles/payday-loan/pl-auth";
@import "src/assets/styles/variables";
.pl-countdown-time {
  margin: 0;
  padding-left: 4px;
  color: $white;
  font-family: $sfPro;
  font-weight: 400;
}
