<app-base-management-layout
  (onClickBtnExport)="onClickBtnExport($event)"
  (onExpandElementChange)="onExpandElementChange($event)"
  (onFilterActionTrigger)="onFilterActionTrigger($event)"
  (onFilterChange)="onFilterFormChange($event)"
  (onPageChange)="onPageChange($event)"
  (onSortChange)="onSortChange($event)"
  (onSubmitSearchForm)="onSubmitSearchForm($event)"
  [allColumns]="allColumns"
  [breadcrumbOptions]="breadcrumbOptions"
  [dataSource]="dataSource"
  [detailElementTemplate]="detailElementTemplate"
  [filterOptions]="filterOptions"
  [orderBy]="this.filterForm.controls.orderBy?.value"
  [pageIndex]="pageIndex"
  [pageLength]="pageLength"
  [pageSizeOptions]="pageSizeOptions"
  [pageSize]="pageSize"
  [sortDirection]="this.filterForm.controls.sortDirection?.value"
  [tableTitle]="tableTitle"
  [totalItems]="totalItems"
>
</app-base-management-layout>

<ng-template #detailElementTemplate>
  <app-loan-detail
    *ngxPermissionsOnly="[
      'dashboardApplications:findTngApplications',
      'dashboardApplications:findVacApplications',
      'dashboardHmgApplications:getLoanById'
    ]"
    (detectUpdateLoanAfterSign)="updateElementInfo($event)"
    (loanDetailTriggerUpdateStatus)="updateElementInfo($event)"
    [customerId]="expandedElementCustomerId"
    [groupName]="filterForm.controls.groupName.value"
    [loanId]="expandedElementLoanId"
    class="w-100"
  ></app-loan-detail>
</ng-template>
