<app-base-management-layout
  [detailElementTemplate]="detailElementTemplate"
  titlePage="Danh sách khoản vay"
  [pageSize]="pageSize"
  [pageIndex]="pageIndex"
  [pageSizeOptions]="pageSizeOptions"
  [allColumns]="allColumns"
  [totalItems]="totalItems"
  [tableTitle]="tableTitle"
  [pageLength]="pageLength"
  [dataSource]="dataSource"
  [orderBy]="this.filterForm.controls.orderBy?.value"
  [descending]="this.filterForm.controls.descending?.value"
  [breadcrumbOptions]="breadcrumbOptions"
  (onPageChanged)="onPageChanged($event)"
  (onSortChange)="onSortChanged($event)"
>
</app-base-management-layout>

<ng-template #detailElementTemplate>
  <app-loan-detail class="w-100"></app-loan-detail>
</ng-template>
