/*
Responsive CSS Sprite created using: https://responsive-css.us/
*/

.sprite-group-7-update-merchant, .sprite-group-7-update-setting-green {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('../../assets/img/icon/group-7/group-7-update.png');
}

.sprite-group-7-update-merchant {
  width: 36px;
  height: 36px;
  background-position: 0.909091% 0.909091%;
  background-size: 711.111%;
}

.sprite-group-7-update-setting-green {
  width: 24px;
  height: 24px;
  background-position: 17.2414% 0.862069%;
  background-size: 1066.67%;
}
