<div class="container-fluid">
    <div class="insurance-container">
        <section>
            <div class="header">
                <a [routerLink]="['/hmg/companies']">
                    <img src="../../../../../assets/img/hmg/header-section-ung-luong.png" alt="Ứng lương HMG">
                    <div class="header-content">
                        <h3>SẢN PHẨM</h3>
                        <h1>Ứng lương 0% lãi</h1>
                        <p>Cung cấp bởi Monex.vn</p>
                    </div>
                </a>
            </div>
        </section>
        <section>
            <div class="content">
                <p>Chỉ với 5 bước sau, bạn sẽ nhận được tiền vào tài khoản trong vòng 24h</p>
                <ol>
                    <li><span class="prefix">1</span>Định danh điện tử</li>
                    <li><span class="prefix">2</span>Xác nhận thông tin</li>
                    <li><span class="prefix">3</span>Thông tin bổ sung</li>
                    <li><span class="prefix">4</span>Chọn số tiền cần ứng</li>
                    <li><span class="prefix">5</span>Ký hợp đồng & giải ngân</li>
                </ol>
            </div>
        </section>
        <section>
            <div class="col-md-12 responsive-form-actions">
                <div id="start-now-btn-container">
                  <button mat-raised-button type="submit" class="w-100 ui-button" color="primary" (click)="start()">
                    Bắt đầu ngay
                  </button>
                </div>
              </div>
        </section>
    </div>
</div>
