<div class="container-fluid">
  <div class="row p-3">
    <!--  Info  -->
    <section class="col-12">
      <div class="row">
        <!-- Left Column -->
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <ul class="pl-list">
            <li class="pl-list-item" *ngFor="let leftColumnEle of leftColumn">
              <p class="pl-list-item-label">
                {{ leftColumnEle?.title }}
              </p>
              <p class="pl-list-item-content">
                <!-- {{ leftColumnEle.value }} -->
                <app-format-data
                  [type]="leftColumnEle?.type"
                  [format]="leftColumnEle?.format"
                  [value]="leftColumnEle?.value"
                ></app-format-data>
              </p>
            </li>
          </ul>
        </div>

        <!-- Middle Column -->
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <ul class="pl-list">
            <li
              class="pl-list-item"
              *ngFor="let middleColumnEle of middleColumn"
            >
              <p class="pl-list-item-label">
                {{ middleColumnEle?.title }}
              </p>
              <p class="pl-list-item-content">
                <app-format-data
                  [type]="middleColumnEle?.type"
                  [format]="middleColumnEle?.format"
                  [value]="middleColumnEle?.value"
                ></app-format-data>
              </p>
            </li>
          </ul>
        </div>

        <!-- Right Column -->
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
          <ul class="pl-list">
            <li class="pl-list-item" *ngFor="let rightColumnEle of rightColumn">
              <p class="pl-list-item-label">
                {{ rightColumnEle?.title }}
              </p>
              <p class="pl-list-item-content">
                <app-format-data
                  [type]="rightColumnEle?.type"
                  [format]="rightColumnEle?.format"
                  [value]="rightColumnEle?.value"
                ></app-format-data>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <!--  Actions -->

  <div class="row mt-3 mb-3">
    <div class="col-12 d-flex gap-2 justify-content-end">
      <button mat-flat-button color="accent" (click)="changeLoanStatus(nextLoanStatus, nextLoanStatusDisplay)"
              [hidden]="nextLoanStatus === 'UNKNOWN_STATUS'">
        {{ nextLoanStatusDisplay }}
      </button>
      <button mat-flat-button color="warn"
              (click)="changeLoanStatus(rejectLoanStatus, rejectLoanStatusDisplay)"
              [hidden]="rejectLoanStatus === 'UNKNOWN_STATUS'">
        <span class="sprite-group-7-dismiss"></span>
        {{ rejectLoanStatusDisplay }}
      </button>
    </div>
  </div>
</div>
