<mat-tab-group dynamicHeight>
  <!--  Loan Info-->
  <mat-tab [label]="'loan_app.tabs.loan_info' | translate">
    <ng-template matTabContent>
      <app-loan-detail-info
        [loanId]="loanId"
        [loanDetail]="loanDetail"
        [customerInfo]="userInfo"
        [groupName]="groupName"
        (loanDetailDetectChangeStatus)="
          loanDetailDetectChangeStatusTrigger($event)
        "
      ></app-loan-detail-info> </ng-template
  ></mat-tab>

  <!--  Contract-->
  <mat-tab [label]="'loan_app.tabs.loan_contract' | translate">
    <ng-template matTabContent>
      <app-loan-contract
        [loanId]="loanId"
        [loanDetail]="loanDetail"
      ></app-loan-contract> </ng-template
  ></mat-tab>

  <!--  Document Info-->
  <mat-tab [label]="'loan_app.tabs.documents' | translate">
    <ng-template matTabContent>
      <app-customer-document-info
        [customerId]="customerId"
        [customerInfo]="userInfo"
      ></app-customer-document-info>
    </ng-template>
  </mat-tab>

  <!--  Rating Info-->
  <mat-tab [label]="'loan_app.tabs.rating' | translate" *ngIf="loanDetail?.ratingInfo?.isRated">
    <ng-template matTabContent>
      <app-loan-rating
        [loanId]="loanId"
        [loanDetail]="loanDetail"
      ></app-loan-rating> </ng-template
  ></mat-tab>

  <!--  Company Info-->
  <mat-tab [label]="'loan_app.tabs.company_info' | translate">
    <ng-template matTabContent>
      <app-customer-company-info
        [customerId]="customerId"
        [customerInfo]="userInfo"
        [bankOptions]="bankOptions"
        [companyOptions]="companyOptions"
        (triggerUpdateInfo)="updateCustomerInfo($event)"
      ></app-customer-company-info> </ng-template
  ></mat-tab>
</mat-tab-group>
