<div class="current-loan-info pl-space-between-box">
  <div id="current-loan-sign-btn-container">
    <div class="current-loan-headline">
      <h2 class="pl-headline current-loan-info-title">
        {{"payday_loan.current_loan.current_loan_info"| translate }}
      </h2>
    </div>
    <div
      class="current-loan-contract-email"
      *ngIf="showMessageGuideCompleteContract"
    >
      <pl-inline-message
        *ngIf="showMessageGuideSignContract"
        [messageType]="'INFORMATION'">
        <p [innerHTML]="'payday_loan.current_loan.awaiting_borrow_sign_contract'| translate"></p>
      </pl-inline-message>

      <pl-inline-message
        *ngIf="showMessageWaitingEpaySignature; else showWarning"
        [messageType]="'INFORMATION'">
        <p [innerHTML]="'payday_loan.current_loan.awaiting_epay_sign_contract'| translate"></p>
      </pl-inline-message>

      <ng-template #showWarning>
        <pl-inline-message
          [messageType]="'WARNING'">
          <p [innerHTML]="'payday_loan.current_loan.please_wait_approval'| translate"></p>
        </pl-inline-message>
      </ng-template>

    </div>
    <div
      class="current-loan-contract-email"
      *ngIf="showMessagePaymentProcessing"
    >
      <pl-inline-message
        [messageType]="'WARNING'">
        <p [innerHTML]="'payday_loan.current_loan.payment_processing'| translate"></p>
      </pl-inline-message>
    </div>
  </div>
  <div id="current-loan-amount-container">
    <ul class="pl-list">
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.total_amount" | translate }}
        </p>
        <p class="pl-list-item-content">
          {{ currentLoan?.expectedAmount | formatPrice }}
        </p>
      </li>
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.loan_code"| translate }}
        </p>
        <p class="pl-list-item-content">
          {{ currentLoan?.loanCode }}
        </p>
      </li>
      <li class="pl-list-item">
        <p class="pl-list-item-label pl-service-fee-label">
          {{ "payday_loan.current_loan.service_fee" | translate}}
          <span class="sprite-group-3-info"
                [matTooltip]="'payday_loan.current_loan.service_fee_description' | translate"
                matTooltipPosition="right"></span>
        </p>
        <p class="pl-list-item-content">
          {{ currentLoan?.totalServiceFees | formatPrice }}
        </p>
      </li>
      <li
        class="pl-list-item"
        *ngIf="currentLoan?.loanStatus === 'IN_REPAYMENT'"
      >
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.settlement_date" | translate }}
        </p>
        <p class="pl-list-item-content">
          {{ "payday_loan.current_loan.settlement_date_text"| translate}}
        </p>
      </li>
      <li class="pl-list-item">
        <p class="pl-list-item-label">
          {{ "payday_loan.current_loan.loan_status"| translate }}
        <div class="pl-list-item-content">
          <pl-status-label [statusType]="loanStatusContent.labelStatus">
            {{ loanStatusContent.label }}
          </pl-status-label>
        </div>
      </li>
    </ul>
  </div>

  <div
    class="text-center"
    id="sign-contract-btn-submit"
    *ngIf="currentLoan?.loanStatus === 'FUNDED'"
  >
    <button
      class="insurance-btn btn-primary"
      id="pl-current-loan-view-contract-btn"
      (click)="viewContractTrigger()"
      type="button"
    >
      {{ "payday_loan.current_loan.view_contract"|translate}}
    </button>
  </div>

  <div
    class="text-center"
    id="awaiting-document-btn"
    *ngIf="currentLoan?.loanStatus === 'DOCUMENT_AWAITING'"
  >
    <button
      class="btn-primary"
      id="pl-current-loan-additional-document-btn"
      (click)="additionalDocument()"
      type="button"
    >{{ "payday_loan.current_loan.additional_document" | translate }}</button>
  </div>

  <div
    class="text-center"
    id="finalization-btn"
    *ngIf="currentLoan?.loanStatus === 'IN_REPAYMENT'"
  >
    <button
      type="button"
      id="pl-current-loan-finalization-btn"
      class="btn-primary pl-btn-finalization"
      [disabled]="disabledBtnFinalization"
      (click)="finalizationTrigger()"
    >{{ "payday_loan.current_loan.finalization" | translate }}</button
    >
  </div>
</div>
