<div fxLayoutAlign="center center" class="main">
    <div class="container" fxLayout="column" fxLayoutAlign="space-between center">
        <div class="logo"><img src="assets/img/logo-brand.svg" alt="monex"></div>
        <h3>Đăng nhập với Monex để được hưởng mức giá ưu đãi nhất</h3>
        <div class="login-action" fxLayout="column" fxLayoutAlign="center none" fxLayoutGap="8px" style="width: 100%;">
            <button mat-button class="ui-button">Đăng ký</button>
            <button mat-button class="ui-stroked-button">Đăng nhập</button>
        </div>
        <button mat-button class="optional-button" style="width:100%">Đăng nhập sau</button>
    </div>
</div>