<div class="container">
    <div class="insurance-container">
        <div class="text-center logo">
            <img src="assets/img/Monex Logo.svg" alt="monex">
        </div>
        <form [formGroup]="signInForm" class="form-container">
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field #mobileNumber appearance="outline" floatLabel="never" class="w-100">
                        <mat-label>Số điện thoại đăng nhập</mat-label>
                        <div class="username-icon" matPrefix [ngClass]="signInForm.controls.mobileNumber.value!='' || isUsernameInputFocus ? 'is-focused-icon' : '' "></div>
                        <input type="text" matInput formControlName="mobileNumber"
                            placeholder="Số điện thoại đăng nhập" required (focus)="isUsernameInputFocus = true" (blur)="isUsernameInputFocus = false" [ngClass]="isUsernameInputFocus  ? 'is-focused-input' : '' ">
                            <button type="button" *ngIf="signInForm.controls.mobileNumber.value" matSuffix mat-icon-button class="support-icon" aria-label="Clear" (click)="signInForm.controls.mobileNumber.setValue('')" disableRipple="true">
                                <div class="clear-icon" [ngClass]="{'invisible': !isUsernameInputFocus}"></div>
                              </button>
                        <!-- <mat-error *ngIf="signInForm.controls.mobileNumber.hasError('required')">
                            Số điện thoại không được để trống
                        </mat-error>
                        <mat-error
                            *ngIf="signInForm.controls.mobileNumber.hasError('minlength')||signInForm.controls.mobileNumber.hasError('maxlength')">
                            Số điện thoại có 10 chữ số!
                        </mat-error> -->
                    </mat-form-field>
                </div>

                <div class="col-md-12" id="password-field">
                    <mat-form-field appearance="outline" floatLabel="never" class="w-100">
                        <mat-label>Mật khẩu</mat-label>
                        <div class="password-pre-icon" matPrefix [ngClass]="signInForm.controls.password.value!='' || isPasswordInputFocus ? 'is-focused-icon' : '' "></div>
                        <input [type]="isPassVisible ? 'text' : 'password' " matInput formControlName="password" placeholder="Mật khẩu" autocomplete required (focus)="isPasswordInputFocus = true" (blur)="isPasswordInputFocus = false" [ngClass]="isPasswordInputFocus  ? 'is-focused-input' : '' ">
                        <button type="button" *ngIf="signInForm.controls.password.value" matSuffix mat-icon-button aria-label="Clear" (click)="signInForm.controls.password.setValue('')" disableRipple="true">
                            <div class="clear-icon" [ngClass]="{'invisible': !isPasswordInputFocus}"></div>
                          </button>
                          <button type="button" matSuffix mat-icon-button class="support-icon" (click)="isPassVisible = !isPassVisible">
                            <div class="password-suffix-icon" [ngClass]="[signInForm.controls.password.value!='' || isPasswordInputFocus ? 'is-focused-icon' : '' , isPassVisible ? 'password-show-icon' : 'password-hide-icon' ]"></div>
                          </button>
                        <!-- <mat-error *ngIf="signInForm.controls.password.hasError('required')">
                            Mật khẩu không được để trống
                        </mat-error>
                        <mat-error
                            *ngIf="signInForm.controls.password.hasError('minlength')||signInForm.controls.password.hasError('maxlength')">
                            Mật khẩu có tối thiểu 8 ký tự và tối đa 50 ký tự
                        </mat-error> -->
                    </mat-form-field>
                    <div class="forgot-password-text">
                        <a class="link-inline-green" [routerLink]="['/auth/forgot-password']">Quên mật khẩu</a>
                      </div>
                </div>

                <div class="col-md-12">
                    <div class="action-container">
                        <button (click)="onSubmit()" mat-flat-button color="primary"
                            class="ui-button login-btn">Đăng nhập
                        </button>
                        <p>
                            Bạn chưa có tài khoản? <a class="link-inline-green">Đăng ký ngay</a>
                          </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>