<div class="filter-boxes pb-5">
  <div class="d-flex justify-content-between align-items-center px-3 py-2">
    <h3 class="filter-title">{{ filterOption.title }}</h3>
  </div>
  <div>


    <ul>
      <mat-radio-group
        [(ngModel)]="selectedTimeFilterMethod"
        aria-labelledby="example-radio-group-label"
        class="example-radio-group"
      >
        <li
          class="
            px-3
            py-2
            d-flex
            justify-content-between
            align-items-center
            filter-child-item
          "
        >
          <div>
            <mat-radio-button
              (click)="displayDetailOption(staticMethodEle)"
              [value]="'TIME_FRAME'"
              color="primary"
            >{{ chosenTimeFrameMethod }}</mat-radio-button>

            <div
              #staticMethodEle
              (mouseleave)="staticMethodEle.style.display = 'none'"
              class="filter-form-container-expand"
              id="staticMethodEle"
            >
              <div class="arrow">
                <svg
                  fill="none"
                  height="14"
                  viewBox="0 0 5 14"
                  width="5"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.408408 6.05719L4.38739 2.25245C4.77964 1.87738 5 1.36867 5 0.838239V13.1618C5 12.6313 4.77964 12.1226 4.38739 11.7475L0.408409 7.94281C-0.136136 7.42211 -0.136137 6.57789 0.408408 6.05719Z"
                    fill="white"
                  />
                </svg>
              </div>
              <div class="card op-card op-drop-shadow">
                <div class="card-title d-flex align-items-center gap-1">
                  {{ "filter.time" | translate }}
                </div>
                <div class="card-body">
                  <div class="all-time-filter-container d-flex flex-wrap gap-3">
                    <div
                      *ngFor="let timeOption of timeFilterOptions"
                      class="column-options"
                    >
                      <div class="thead">{{ timeOption.mainTitle }}</div>
                      <div
                        (click)="
                          chooseTimeFilter(
                            ele.startDate,
                            ele.endDate,
                            ele.title,
                            staticMethodEle
                          )
                        "
                        *ngFor="let ele of timeOption.options"
                        class="trow"
                      >
                        {{ ele.title }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="
              d-inline-flex
              justify-content-between
              align-items-center
              filter-child-item
              gap-1
            "
          >
            <span class="sprite-group-5-chevron-right-grey"></span>
          </div>


        </li>
        <li
          class="
            px-3
            py-2
            d-flex
            justify-content-between
            align-items-center
            filter-child-item
          "
        >
          <div>
            <mat-radio-button
              (click)="displayDetailOption(stateMethodEle)"
              [value]="'TIME_RANGE'"
              color="primary"
            >{{ chosenTimeRangeMethod }}</mat-radio-button
            >
            <div
              #stateMethodEle
              (mouseleave)="stateMethodEle.style.display = 'none'"
              class="filter-form-container-expand"
              id="stateMethodEle"
            >
              <div class="arrow">
                <svg
                  fill="none"
                  height="14"
                  viewBox="0 0 5 14"
                  width="5"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M0.408408 6.05719L4.38739 2.25245C4.77964 1.87738 5 1.36867 5 0.838239V13.1618C5 12.6313 4.77964 12.1226 4.38739 11.7475L0.408409 7.94281C-0.136136 7.42211 -0.136137 6.57789 0.408408 6.05719Z"
                    fill="white"
                  />
                </svg>
              </div>

              <div class="card op-card op-drop-shadow">
                <div class="card-title d-flex align-items-center gap-1 mb-0">
                  {{ "filter.choose_range_time" | translate }}
                  <button
                    (click)="resetSelectedDate()"
                    class="reset-btn"
                    mat-button
                  >
                    {{ "common.reset" | translate }}
                  </button>
                </div>
                <div class="card-body p-0">
                  <div class="d-flex">
                    <div class="datepicker-container">
                      <div class="description d-flex gap-1">
                        <span>{{ "filter.from_day" | translate }}</span>
                        <span *ngIf="selectedStartDate" class="selected-date">{{
                          "filter.selected_date"
                            | translate
                            : {
                              date: selectedStartDay,
                              day: selectedStartDateDisplay
                            }
                          }}</span>
                      </div>
                      <mat-card class="calendar-card">
                        <mat-calendar
                          (selectedChange)="
                            onSelectStartDate($event, stateMethodEle)
                          "
                          [maxDate]="currentTime"
                          [selected]="selectedStartDate"
                        ></mat-calendar>
                      </mat-card>
                    </div>

                    <div class="datepicker-container">
                      <div class="description d-flex gap-1">
                        <span>{{ "filter.from_day" | translate }}</span>
                        <span *ngIf="selectedEndDate" class="selected-date">
                          {{
                          "filter.selected_date"
                            | translate
                            : {
                              date: selectedEndDay,
                              day: selectedEndDateDisplay
                            }
                          }}
                        </span>
                      </div>
                      <mat-card class="calendar-card">
                        <mat-calendar
                          (selectedChange)="
                            onSelectEndDate($event, stateMethodEle)
                          "
                          [maxDate]="currentTime"
                          [minDate]="selectedStartDate"
                          [selected]="selectedEndDate"
                        ></mat-calendar>
                      </mat-card>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="
              d-inline-flex
              justify-content-between
              align-items-center
              filter-child-item
              gap-1
            "
          >
            <span class="sprite-group-5-chevron-right-grey"></span>
          </div>
        </li>
      </mat-radio-group>
    </ul>
  </div>
</div>
